<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <property name="LOG_HOME" value="/usr/local/server-manager/logs"/>

    <property name="LOG_DEFAULT" value="${LOG_HOME}/nginx-controller.log"/>

    <property name="LOG_PATTERN"
              value="%d |-%-5level [%thread] %logger{5} - %method\\(%line\\) : %msg%n"/>

    <!-- FILE Appender ................................... -->
    <appender name="FILE_DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DEFAULT}</file>
        <!-- 일자별로 로그파일 적용하기 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DEFAULT}.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>2</maxHistory> <!-- 일자별 백업파일의 보관기간 -->
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ................................... -->

    <logger name="kr.swim.nginx" level="debug" additivity="false">
        <appender-ref ref="FILE_DEFAULT"/>
    </logger>

    <logger name="com.zaxxer.hikari" level="warn" additivity="true">
        <appender-ref ref="FILE_DEFAULT"/>
    </logger>
    <logger name="org.mybatis.spring" level="warn" additivity="true">
        <appender-ref ref="FILE_DEFAULT"/>
    </logger>
    <logger name="org.apache.ibatis" level="warn" additivity="true">
        <appender-ref ref="FILE_DEFAULT"/>
    </logger>

    <!-- ................................... -->

    <root level="INFO">
        <appender-ref ref="FILE_DEFAULT"/>
    </root>

    <!-- ................................... -->

</configuration>