<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <property name="LOG_HOME" value="/usr/local/server-manager/logs"/>

    <property name="LOG_DEFAULT" value="${LOG_HOME}/servermanager_log"/>
    <property name="LOG_DB" value="${LOG_HOME}/db_backup_log"/>
    <property name="LOG_SPEEDTEST" value="${LOG_HOME}/speedtest_log"/>
    <property name="LOG_FAIL2BAN" value="${LOG_HOME}/fail2ban_log"/>
    <property name="LOG_SCHEDULE" value="${LOG_HOME}/schedule_log"/>
    <property name="LOG_SETTINGS" value="${LOG_HOME}/settings_log"/>

    <property name="LOG_PATTERN"
              value="%d |-%-5level [%thread] %logger{5} - %method\\(%line\\) : %msg%n"/>

    <!-- FILE Appender ................................... -->
    <appender name="FILE_DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DEFAULT}</file>
        <!-- 일자별로 로그파일 적용하기 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DEFAULT}.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>20</maxHistory> <!-- 일자별 백업파일의 보관기간 -->
        </rollingPolicy>
        <encoder>
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern> -->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- FILE Appender ................................... -->
    <appender name="FILE_DB" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DB}</file>
        <!-- 일자별로 로그파일 적용하기 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DB}.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>10</maxHistory> <!-- 일자별 백업파일의 보관기간 -->
        </rollingPolicy>
        <encoder>
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern> -->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- FILE Appender ................................... -->
    <appender name="FILE_SPEED" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_SPEEDTEST}</file>
        <!-- 일자별로 로그파일 적용하기 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_SPEEDTEST}.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>4</maxHistory> <!-- 일자별 백업파일의 보관기간 -->
        </rollingPolicy>
        <encoder>
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern> -->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- FILE Appender ................................... -->
    <appender name="FILE_FAIL2BAN"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FAIL2BAN}</file>
        <!-- 일자별로 로그파일 적용하기 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FAIL2BAN}.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>10</maxHistory> <!-- 일자별 백업파일의 보관기간 -->
        </rollingPolicy>
        <encoder>
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern> -->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- FILE Appender ................................... -->
    <appender name="FILE_SCHEDULE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_SCHEDULE}</file>
        <!-- 일자별로 로그파일 적용하기 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_SCHEDULE}.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>10</maxHistory> <!-- 일자별 백업파일의 보관기간 -->
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- FILE Appender ................................... -->
    <appender name="FILE_SETTINGS"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_SETTINGS}</file>
        <!-- 일자별로 로그파일 적용하기 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_SETTINGS}.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>2</maxHistory> <!-- 일자별 백업파일의 보관기간 -->
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ................................... -->

    <logger name="sw.im.swim" level="debug" additivity="false">
        <appender-ref ref="FILE_DEFAULT"/>
    </logger>
    <logger name="sw.im.swim.util.nginx" level="info" additivity="false">
        <appender-ref ref="FILE_DEFAULT"/>
    </logger>

    <!-- ................................... -->

    <logger name="sw.im.swim.service.DatabaseServerService" level="debug" additivity="false">
        <appender-ref ref="FILE_DB"/>
    </logger>
    <logger name="sw.im.swim.worker.database" level="debug" additivity="false">
        <appender-ref ref="FILE_DB"/>
    </logger>
    <logger name="sw.im.swim.bean.util.DatabaseServerUtil" level="debug" additivity="false">
        <appender-ref ref="FILE_DB"/>
    </logger>

    <!-- ................................... -->

    <logger name="sw.im.swim.worker.speedtest" level="debug" additivity="false">
        <appender-ref ref="FILE_SPEED"/>
    </logger>
    <logger name="sw.im.swim.service.SpeedTestService" level="debug" additivity="false">
        <appender-ref ref="FILE_SPEED"/>
    </logger>

    <!-- ................................... -->

    <logger name="sw.im.swim.controller.api.Fail2banLogController" level="debug" additivity="false">
        <appender-ref ref="FILE_FAIL2BAN"/>
    </logger>
    <logger name="sw.im.swim.service.Fail2banLogService" level="debug" additivity="false">
        <appender-ref ref="FILE_FAIL2BAN"/>
    </logger>
    <logger name="sw.im.swim.service.Fail2banService" level="debug" additivity="false">
        <appender-ref ref="FILE_FAIL2BAN"/>
    </logger>

    <!-- ................................... -->

    <logger name="sw.im.swim.util.server" level="warn" additivity="false">
        <appender-ref ref="FILE_SCHEDULE"/>
    </logger>

    <!-- ................................... -->

    <logger name=" sw.im.swim.service.AdminSettingService" level="debug" additivity="false">
        <appender-ref ref="FILE_SETTINGS"/>
    </logger>
    <logger name=" sw.im.swim.service.NginxSettingService" level="debug" additivity="false">
        <appender-ref ref="FILE_SETTINGS"/>
    </logger>

    <!-- ................................... -->

    <logger name="com.zaxxer.hikari" level="warn" additivity="true">
        <appender-ref ref="FILE_DEFAULT"/>
    </logger>
    <logger name="org.mybatis.spring" level="warn" additivity="true">
        <appender-ref ref="FILE_DEFAULT"/>
    </logger>
    <logger name="org.apache.ibatis" level="warn" additivity="true">
        <appender-ref ref="FILE_DEFAULT"/>
    </logger>

    <!-- ................................... -->

    <root level="INFO">
        <appender-ref ref="FILE_DEFAULT"/>
    </root>

    <!-- ................................... -->

</configuration>